*   {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

html, body  {
    height: 100vh;
    width: 100vw;
    background-color: black;    
}

body    {
    background:  url('./imagens/fundo-madeira.jpg') no-repeat  top center;
    background-size: cover; /*vai cobrir a tela inteira*/
    background-attachment: fixed; /*para não haver rolagem*/
}

main    {
    position: relative;
    height: 100vh;       
}

section#telephone    {
    position: absolute;
    top: 50%; /*vai jogar a pontinha sup esqu para o centro da tela*/
    left: 50%;
    transform: translate(-50%, -50%); /*vai centralizar o quadrado no centro deslocando a pontinha */
    background: url('./imagens/frame-iphone.png') no-repeat;
    height: 627px;
    width: 511px;    
}

iframe#screen   {
    position: relative;
    top:  80px;
    left: 22px;
    width: 267px;
    height: 471px;
}

section#social-media  {
    text-align: right;
}

section#social-media  img {
    width: 50px;    
    margin: 10px;
    border-radius: 50%; /* vai deixar tudo redondo*/
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.447);
}

section#social-media  img:hover    {
    border: 2px solid rgba(255, 255, 255, .650);
    translate: -3px -3px;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.622);
    transition: .3s;
}